USE [master]
GO
/****** Object:  Database [BussinessP1]    Script Date: 16/01/2021 19:50:05 ******/
CREATE DATABASE [BussinessP1]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'BussinessP1', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\BussinessP1.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'BussinessP1_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\BussinessP1_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [BussinessP1].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [BussinessP1]
GO
/****** Object:  Table [dbo].[CUST_ORDER_F]    Script Date: 16/01/2021 19:50:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CUST_ORDER_F](
	[OrderCounter] [nchar](10) NOT NULL,
	[OrderID] [varchar](50) NOT NULL,
	[CustomerID] [varchar](50) NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CUSTOMER]    Script Date: 16/01/2021 19:50:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CUSTOMER](
	[CustomerID] [varchar](50) NOT NULL,
	[FirstName] [varchar](50) NOT NULL,
	[LastName] [varchar](50) NOT NULL,
	[Email] [varchar](50) NOT NULL,
	[Password] [varchar](50) NOT NULL,
	[Phone] [nchar](10) NOT NULL,
 CONSTRAINT [PK_CUSTOMER] PRIMARY KEY CLUSTERED 
(
	[CustomerID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DATE_INFO_F]    Script Date: 16/01/2021 19:50:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DATE_INFO_F](
	[OrderCounter] [nchar](10) NOT NULL,
	[OrderID] [varchar](50) NOT NULL,
	[OrderDate] [date] NULL,
	[OrderTime] [varchar](50) NULL,
	[DeliveryDate] [date] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EMPLOYEE]    Script Date: 16/01/2021 19:50:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EMPLOYEE](
	[EmployeeID] [varchar](50) NOT NULL,
	[EName] [varchar](50) NOT NULL,
	[JobType] [varchar](50) NOT NULL,
	[EmployeeEmail] [varchar](50) NOT NULL,
	[EPhone] [nchar](10) NOT NULL,
 CONSTRAINT [PK_EMPLOYEE] PRIMARY KEY CLUSTERED 
(
	[EmployeeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ORDER_]    Script Date: 16/01/2021 19:50:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ORDER_](
	[OrderCounter] [nchar](10) NOT NULL,
	[OrderID] [varchar](50) NOT NULL,
	[CustomerID] [varchar](50) NOT NULL,
	[ItemID] [nchar](10) NOT NULL,
	[ItemQuantity] [nchar](10) NOT NULL,
	[Address] [varchar](50) NOT NULL,
	[EmployeeID] [varchar](50) NOT NULL,
 CONSTRAINT [PK_ORDER_] PRIMARY KEY CLUSTERED 
(
	[OrderCounter] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PRODUCT]    Script Date: 16/01/2021 19:50:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PRODUCT](
	[ItemID] [nchar](10) NOT NULL,
	[ItemName] [varchar](50) NOT NULL,
	[ItemPrice] [nchar](10) NOT NULL,
 CONSTRAINT [PK_PRODUCT] PRIMARY KEY CLUSTERED 
(
	[ItemID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[CUST_ORDER_F] ([OrderCounter], [OrderID], [CustomerID]) VALUES (N'0001      ', N'00001', N'034')
INSERT [dbo].[CUST_ORDER_F] ([OrderCounter], [OrderID], [CustomerID]) VALUES (N'0002      ', N'00001', N'034')
INSERT [dbo].[CUST_ORDER_F] ([OrderCounter], [OrderID], [CustomerID]) VALUES (N'0003      ', N'00001', N'034')
GO
INSERT [dbo].[CUSTOMER] ([CustomerID], [FirstName], [LastName], [Email], [Password], [Phone]) VALUES (N'001', N'Peter', N'Wasabi', N'ptwas@gmail.com', N'pete1234', N'612748923 ')
INSERT [dbo].[CUSTOMER] ([CustomerID], [FirstName], [LastName], [Email], [Password], [Phone]) VALUES (N'002', N'Rick', N'Owens', N'ricko@gmail.com', N'RickOwens66', N'634987253 ')
INSERT [dbo].[CUSTOMER] ([CustomerID], [FirstName], [LastName], [Email], [Password], [Phone]) VALUES (N'003', N'Adam', N'Calister', N'calisteradam@gmail.com', N'christmaslover', N'226354098 ')
GO
INSERT [dbo].[DATE_INFO_F] ([OrderCounter], [OrderID], [OrderDate], [OrderTime], [DeliveryDate]) VALUES (N'0001      ', N'00001', CAST(N'2020-12-01' AS Date), N'11:45', CAST(N'2020-12-02' AS Date))
INSERT [dbo].[DATE_INFO_F] ([OrderCounter], [OrderID], [OrderDate], [OrderTime], [DeliveryDate]) VALUES (N'0002      ', N'00001', CAST(N'2020-12-01' AS Date), N'11:45', CAST(N'2020-12-02' AS Date))
INSERT [dbo].[DATE_INFO_F] ([OrderCounter], [OrderID], [OrderDate], [OrderTime], [DeliveryDate]) VALUES (N'0003      ', N'00001', CAST(N'2020-12-01' AS Date), N'11:45', CAST(N'2020-12-02' AS Date))
GO
INSERT [dbo].[EMPLOYEE] ([EmployeeID], [EName], [JobType], [EmployeeEmail], [EPhone]) VALUES (N'01', N'Andrzej', N'Leader', N'a.krasnodebski@student.fontys.nl', N'698352832 ')
INSERT [dbo].[EMPLOYEE] ([EmployeeID], [EName], [JobType], [EmployeeEmail], [EPhone]) VALUES (N'02', N'Raul', N'DatabaseEngineer', N'r.vilacandido@student.fontys.nl', N'661285946 ')
INSERT [dbo].[EMPLOYEE] ([EmployeeID], [EName], [JobType], [EmployeeEmail], [EPhone]) VALUES (N'03', N'Anna', N'Secretary', N'c.anet@student.fontys.nl', N'682418409 ')
GO
INSERT [dbo].[ORDER_] ([OrderCounter], [OrderID], [CustomerID], [ItemID], [ItemQuantity], [Address], [EmployeeID]) VALUES (N'0001      ', N'00001', N'034', N'108       ', N'1         ', N'room15', N'06')
INSERT [dbo].[ORDER_] ([OrderCounter], [OrderID], [CustomerID], [ItemID], [ItemQuantity], [Address], [EmployeeID]) VALUES (N'0002      ', N'00001', N'034', N'101       ', N'4         ', N'room15', N'06')
INSERT [dbo].[ORDER_] ([OrderCounter], [OrderID], [CustomerID], [ItemID], [ItemQuantity], [Address], [EmployeeID]) VALUES (N'0003      ', N'00001', N'034', N'107       ', N'2         ', N'room15', N'06')
GO
INSERT [dbo].[PRODUCT] ([ItemID], [ItemName], [ItemPrice]) VALUES (N'101       ', N'BreadRoll', N'0.30      ')
INSERT [dbo].[PRODUCT] ([ItemID], [ItemName], [ItemPrice]) VALUES (N'102       ', N'Baguette', N'0.99      ')
INSERT [dbo].[PRODUCT] ([ItemID], [ItemName], [ItemPrice]) VALUES (N'103       ', N'ToastBread', N'1.50      ')
GO
ALTER TABLE [dbo].[CUST_ORDER_F]  WITH CHECK ADD  CONSTRAINT [FK_CUST_ORDER_F_CUSTOMER] FOREIGN KEY([CustomerID])
REFERENCES [dbo].[CUSTOMER] ([CustomerID])
GO
ALTER TABLE [dbo].[CUST_ORDER_F] CHECK CONSTRAINT [FK_CUST_ORDER_F_CUSTOMER]
GO
ALTER TABLE [dbo].[CUST_ORDER_F]  WITH CHECK ADD  CONSTRAINT [FK_CUST_ORDER_F_ORDER_] FOREIGN KEY([OrderCounter])
REFERENCES [dbo].[ORDER_] ([OrderCounter])
GO
ALTER TABLE [dbo].[CUST_ORDER_F] CHECK CONSTRAINT [FK_CUST_ORDER_F_ORDER_]
GO
ALTER TABLE [dbo].[DATE_INFO_F]  WITH CHECK ADD  CONSTRAINT [FK_DATE_INFO_F_ORDER_] FOREIGN KEY([OrderCounter])
REFERENCES [dbo].[ORDER_] ([OrderCounter])
GO
ALTER TABLE [dbo].[DATE_INFO_F] CHECK CONSTRAINT [FK_DATE_INFO_F_ORDER_]
GO
ALTER TABLE [dbo].[ORDER_]  WITH CHECK ADD  CONSTRAINT [FK_ORDER__EMPLOYEE] FOREIGN KEY([EmployeeID])
REFERENCES [dbo].[EMPLOYEE] ([EmployeeID])
GO
ALTER TABLE [dbo].[ORDER_] CHECK CONSTRAINT [FK_ORDER__EMPLOYEE]
GO
ALTER TABLE [dbo].[ORDER_]  WITH CHECK ADD  CONSTRAINT [FK_ORDER__PRODUCT] FOREIGN KEY([ItemID])
REFERENCES [dbo].[PRODUCT] ([ItemID])
GO
ALTER TABLE [dbo].[ORDER_] CHECK CONSTRAINT [FK_ORDER__PRODUCT]
GO
USE [master]
GO
